@font-face {
  font-family: "iconfont"; /* Project id 2616283 */
  src: url('//at.alicdn.com/t/font_2616283_95ni41ah5es.woff2?t=1641438724220') format('woff2'),
  url('//at.alicdn.com/t/font_2616283_95ni41ah5es.woff?t=1641438724220') format('woff'),
  url('//at.alicdn.com/t/font_2616283_95ni41ah5es.ttf?t=1641438724220') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addLike:before {
  content: "\e61e";
}

.icon-bell-mute:before {
  content: "\e698";
}

.icon-cancleLike:before {
  content: "\e65a";
}

.icon-dislikeUser:before {
  content: "\e607";
}

.icon-dislike:before {
  content: "\e854";
}

.icon-edit:before {
  content: "\e75d";
}

.icon-repost:before {
  content: "\e6cf";
}

.icon-user-o:before {
  content: "\e63b";
}

.icon-heart-o:before {
  content: "\e6e0";
}

.icon-home-o:before {
  content: "\e61d";
}

.icon-user:before {
  content: "\e62a";
}

.icon-heart:before {
  content: "\e66d";
}

.icon-home:before {
  content: "\e608";
}

.icon-default:before {
  content: "\e606";
}

.icon-picture:before {
  content: "\e70a";
}

.icon-clock:before {
  content: "\e6d9";
}

.icon-memorial:before {
  content: "\e634";
}

.icon-secuirity:before {
  content: "\e699";
}

.icon-password:before {
  content: "\e654";
}

.icon-mobile:before {
  content: "\e853";
}

.icon-delete:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e639";
}

.icon-more:before {
  content: "\e603";
}

.icon-more-dot:before {
  content: "\e65d";
}

.icon-search:before {
  content: "\e604";
}

.icon-comment:before {
  content: "\e647";
}

.icon-star:before {
  content: "\e601";
}

.icon-like:before {
  content: "\e605";
}
